<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation"
           (click)="toggleCollapsed()">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <ul class="navbar-nav text-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" routerLink="/shiftcipher">shift cipher</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/textanalysis">monoalphabetic cipher & <br> text analysis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vigenerecracker">vigenere cipher</a>
    </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
