<div class="container no-margin-check times">
  <div class="card content">
    <div class="card-body">
      <div class=" row">
        <div class="col-sm-3">
          <div class="form-group">
            <h2 class="text-center">Text</h2>
            <textarea [(ngModel)]="text" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
            <button (click)="analyze()" type="button" class=" text-center btn btn-outline-primary">Analyze</button>

          </div>


        </div>
        <div class="col-sm-9">
          <h3>{{ showDecipheredText ? 'Deciphered Text' : 'Replaced Text' }}
          <span>
            <button (click)="changeShowDecipheredText()" type="button" class=" text-center btn btn-outline-primary">
              {{ showDecipheredText ? 'Show Text replace' : 'Show Deciphered Text' }}
            </button>
          </span></h3>
          <div *ngIf="showDecipheredText" class="replaced-text">
            {{decipheredText}}
          </div>
          <div *ngIf="!showDecipheredText" class="replaced-text" [innerHTML]="highLightedText"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card content" *ngIf="grid.length > 0">
    <div class="card-body">
      <div class="row">
        <div  class="col-sm-4">
          <table class="table table-bordered text-center">
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th *ngFor="let row of grid; let i = index">
                <button (click)="selectToShift(i,false)" type="button" class=" text-center btn btn-outline-primary">s</button>

                <button (click)="shiftColumnUp(i)" type="button" class=" text-center btn btn-outline-primary">{{'^'}}</button>
                </th>
              <th></th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let row of grid; let i = index">
              <td>
                <button (click)="selectToShift(i,true)" type="button" class=" text-center btn btn-outline-primary">s</button>
              </td>
              <td>
              <button (click)="shiftRow(i,1)" type="button" class=" text-center btn btn-outline-primary">{{'<'}}</button>
              </td>
              <td *ngFor="let cell of row; let j = index" >
                <input class="ng-pristine ng-valid ng-touched" [(ngModel)]="grid[i][j]" type="text" [attr.id]="i + '  ' + j"
                       minlength="1" maxlength="1" size="1" (keydown)="replace(i,j)" onfocus="console.log(this.value) this.value ="></td>
              <button (click)="shiftRow(i,-1)" type="button" class=" text-center btn btn-outline-primary">{{'>'}}</button>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td *ngFor="let row of grid; let i = index">
                <button (click)="shiftColumnDown(i)" type="button" class=" text-center btn btn-outline-primary">{{'v'}}</button>
              </td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-8">
          <button (click)="fullShiftUp()" type="button" class=" text-center btn btn-outline-primary">shift up</button>
          <button (click)="fullShiftDown()" type="button" class=" text-center btn btn-outline-primary">shift down</button>
          <button (click)="fullRotate(1)" type="button" class=" text-center btn btn-outline-primary">shift right</button>
          <button (click)="fullRotate(-1)" type="button" class=" text-center btn btn-outline-primary">shift left</button>

        </div>
      </div>
    </div>
  </div>
</div>
